:root {
    --header-bg-color: #e0e0e0; /* Colore di sfondo chiaro */
    --shadow-light: #ffffff; /* Ombra chiara */
    --shadow-dark: #a3a3a3; /* Ombra scura */
}

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 10vh;
    border-radius: 1rem;
}

.header > ul {
    width: 100%;
    height: 100%;
    display: flex;
    
}

.header > ul > li {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--header-bg-color);
    font-weight: 100;
    letter-spacing: 1px;
}

/* Primo elemento li: contiene testo */
.header > ul > li:first-child {
    font-size: 1.4rem;
}

/* Ultimo elemento li: contiene bottone */
.header > ul > li:last-child {
    justify-content: flex-end;
}

/* Bottone: senza bordi, trasparente, ma con ombre neumorfiche */
.header > ul > li:last-child > button {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    padding: 0 .5rem .1rem;
    box-shadow: -4px -4px 8px var(--shadow-light), 4px 4px 8px var(--shadow-dark);
    border-radius: 0.5rem;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.header > ul > li:last-child > button:hover {
    box-shadow: -6px -6px 12px var(--shadow-light), 6px 6px 12px var(--shadow-dark);
    transform: translateY(-2px);
}


/*! neumorf */
:root {
    --menu-bg-color: #e0e0e0;
    --shadow-light: #ffffff;
    --shadow-dark: #a3a3a3;
}

.mobile-menu {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    padding: 2rem;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--menu-bg-color);
    transform: translateY(-100%);
    transition: box-shadow 1s ease-in-out,transform 1s ease-in-out;
}

.mobile-menu.active {
    transform: translateY(0);
    box-shadow: -8px -8px 15px var(--shadow-light), 8px 8px 14px var(--shadow-dark);
}

.mobile-menu > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 0 0 1rem 1rem;
}

.mobile-menu > ul > li {
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: var(--menu-bg-color);
    border-radius: 0.5rem;
    box-shadow: inset -4px -4px 8px var(--shadow-light), inset 4px 4px 8px var(--shadow-dark);
    font-weight: 100;
    letter-spacing: 1px;
    transition: box-shadow 0.3s ease;
}

.mobile-menu > ul > li:hover {
    box-shadow: -4px -4px 8px var(--shadow-light), 4px 4px 8px var(--shadow-dark);
}

.mobile-menu > ul > li:first-child {
    border-radius: 1rem 1rem 0 0;
}

.mobile-menu > ul > li:last-child {
    border-radius: 0 0 1rem 1rem;
}
