.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 9999; /* Assicurati che il loader sia sopra al contenuto */
  }
  
  #content {
    display: none; /* All'inizio, il contenuto è nascosto */
  }
  

.navigationBar {
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    background: rgba(255, 255, 255, 0.444);
    backdrop-filter: blur(1px);
      z-index: 1000;
    border-radius: 4rem 4rem 0 0;
    display: flex;
    align-items: start;
    justify-content: center;
}
.navLink {
    width: 95%;
    padding: 1rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
    backdrop-filter: blur(50px);
    box-shadow: inset -3px -1px 8px var(--shadow-dark), inset 4px 4px 8px var(--shadow-light);


}
.navLink>ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    
}
.navLink>ul>li>a {
    width: 45px;
    height: 45px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.navLink>ul>li>a>svg {
    background-color: transparent;
}

.navLink>ul>li>a:active {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    
    background-color: rgba(0, 128, 0, 0.32);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
}

.circle {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: red;
}

.title-name {
    padding-left: 1rem;
    font-weight: 500;
    letter-spacing: -.5px;
}

.search {
    padding: .5rem 1.6rem 1rem;
}

button {
    width: 45px;
    height: 45px;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    box-shadow: -3px -1px 8px var(--shadow-light), 4px 4px 8px var(--shadow-dark);
    border-radius: 1rem;
    color: gray;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

button>svg {
    margin-bottom: .2rem;
}

/* stories */

.stories {
    min-width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1rem 1rem;
}

.stories::-webkit-scrollbar {
    color: transparent;
    background-color: transparent;
    display: flex;
}

.containerCircleSpan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circleSpan {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 .6rem;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -3px -1px 8px var(--shadow-light), 4px 4px 8px var(--shadow-dark);

}

.circleSpan>img {
    border-radius: 50%;
}

.online {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 10px;
    height: 10px;
    background-color: rgb(11, 152, 11);
    border-radius: 50%;
}

.usernameStories {
    font-size: .7rem;
    padding-top: .5rem;
    font-weight: 500;
    letter-spacing: -.5px;
}

/* post */

.post {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 15vh;
}

.card {
    width: 95%;
    box-shadow: -3px -1px 8px var(--shadow-dark), 4px 4px 8px var(--shadow-light);
    margin: 0 auto;
    border-radius: 1rem;
    overflow: hidden;
}

.headerCard {
    padding: .7rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.contCircle {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.circlePostUser {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: red;
    overflow: hidden;
    box-shadow: -3px -1px 8px var(--shadow-dark), 4px 4px 8px var(--shadow-light);
}

.card>img {
    height: 40vh;
}

.containerInfoLike {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem .5rem;
}

.like-group {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.like-group>span:nth-child(4) {
    margin-bottom: .1rem;
    padding-left: .5rem;
}

.like-group>span:nth-child(6) {
    margin-bottom: .2rem;
    margin-left: .2rem;
}

.bubleLike {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
    margin: -7px;
    border: .1px solid rgb(108, 108, 108);
    overflow: hidden;
    margin-bottom: .1rem;
    box-shadow: -3px -1px 8px var(--shadow-dark), 4px 4px 8px var(--shadow-light);


}

.text-group {
    padding: 0 .5rem .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .9rem;
    font-weight: 300;
    letter-spacing: -.5px;
}

.usernamePost {
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: -.5px;
}

.commentPost {
    width: 100%;
    padding: 0 1rem 1rem;
    

}

.commentPost>input {
    width: 100%;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: inset -3px -1px 8px var(--shadow-dark), 4px 4px 8px var(--shadow-light);

}