.body-login {
        font-family: 'Arial', sans-serif;
        background: #e0e5ec;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
}
.login-container {
    background: #e0e5ec;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff;
    padding: 40px;
    width: 300px;
    text-align: center;
}

.login-container h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.input-field {
    background: #e0e5ec;
    border: none;
    outline: none;
    border-radius: 50px;
    box-shadow: inset 5px 5px 10px #babecc, inset -5px -5px 10px #ffffff;
    width: 100%;
    padding: 10px 20px;
    margin: 15px 0;
    font-size: 16px;
}

.login-button {
    background: #e0e5ec;
    border: none;
    outline: none;
    border-radius: 50px;
    box-shadow: 5px 5px 10px #babecc, -5px -5px 10px #ffffff;
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-button:hover {
    box-shadow: inset 5px 5px 10px #babecc, inset -5px -5px 10px #ffffff;
}

.login-button:active {
    box-shadow: inset 10px 10px 20px #babecc, inset -10px -10px 20px #ffffff;
}

.forgot-password {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.forgot-password a {
    color: #333;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}